.Tickets
  padding-top: 6em

  .tickets-header
    width: 90%
    height: 100vh
    @include centering-margin()
    @include background-image("https://preview.ibb.co/mGrgw7/oscar_keys_58399_unsplash.jpg")
    @include flexbox()
    @include flex-direction(column)

    .tickets-info
      margin-top: 10rem
      color: $colorWhite
      font-size: $font-m
      line-height: 1.5rem
      h1
        margin-bottom: 1.5rem
        font-size: 2rem
      p
        margin: 0
      @media (max-width: 700px)
        font-size: $font-xs
        @include vertical-padding(0)
        @include horizontal-padding(1rem)

  .tickets-events
    h3
      margin: 4rem 0
      text-align: center
    table
      width: 40%
      line-height: 1.5rem
      text-align: left
      @include centering-margin(2em)
      th
        font-size: $font-m
      td
        width: 50%

    @media (max-width: 1100px)
      table
        width: 70%
        h3
          margin: 4rem 0 1rem
          text-align: center

    @media (max-width: 700px)
      table
        width: 90%

    @media (max-width: 450px)
      table th
        white-space: nowrap
        font-size: $font-s
      table td
        white-space: nowrap
        font-size: $font-xs

