.Contact
  padding-top: 6em

.contact-wrapper
  width: 90%
  height: 100vh
  @include flexbox()
  @include justify-content(center)
  @include align-items(center)
  @include centering-margin(0, 5em)
  @include background-image("https://preview.ibb.co/g5Gk8n/marcus_neto_96651_unsplash.jpg")

.contact-form
  width: 50%
  & input,
    textarea
      margin: 0.5em 0
      padding: 0.5em 0

.contact-form-success
  width: 40%
  .contact-form-success-message
    color: #fff
    font-size: $font-xl

.contact-info-panel
    width: 50%
    text-align: left
    @include centering-margin()
    @include flexbox()
    @include justify-content(space-between)

//@media (max-width: 1000px)
//  .contact-wrapper
//    .contact-form
//      width: 70%
//    .contact-info-panel
//      width: 70%
//
//@media (max-width: 590px)
//  .contact-wrapper
//    .contact-form
//      font-size: $font-xs
//      width: 85%
//  .contact-info-panel
//    font-size: $font-xs
//    text-align: center
//    @include flex-direction(column)