.button
  font-size: $font-s
  color: $colorWhite
  background-color: $colorGreen
  @include flexbox()
  @include border(none, 2px)
  @include vertical-padding(0.85rem, 0.5rem)
  @include horizontal-padding(1rem)

  span
    padding-right: 0.5rem

  &:hover
    opacity: 0.8

  @include breakpoint(l)
    font-size: $font-xs
