.Event-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;   
    margin: 0 auto;
    width: 85%;
    height: 20em;
}
.Event-card:nth-child(1) {
    padding-top: 6em;
}
.Event-card:last-child {
    padding-bottom: 6em;
}
.event-image {
    width: 65%;
    height: auto;
    overflow: hidden;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.event-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
    opacity: 0.9;
    cursor: pointer;
}
.event-image img:hover {
    opacity: 1;
}
.event-content {
    width: 35%;
    padding: 2em 1em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFFBFC;
    border-top: 1px solid #ececec;
    border-right: 2px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.event-content h3 {
    text-align: left;
}
.event-content p {
    text-align: left;
}
.event-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.event-content ul > span {
    margin-right: 2%;
}
.event-content li {
    display: inline-block;
    margin-right: 2%;
}
.event-content li:not(:last-of-type)::after {
    content: ', ';
}
.event-content ul h4 {
    text-align: left;
    font-weight: bold;
    margin: 2em 0 0.5em 0;
}
.event-content p,
.event-content h2,
.event-content h3,
.event-content ul {
    z-index: 4;
    position: relative;
}
.even::after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25%;
    -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    z-index: 3;
    border-left: 2px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #FFFBFC;
}
.odd::after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25%;
    -webkit-transform: skewX(12deg);
            transform: skewX(12deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    z-index: 3;
    border-left: 2px solid #ececec;
    border-bottom: 1px solid #ececec;   
    background-color: #FFFBFC;
}

@media (max-width: 1100px) {
    .Event-card {
        width: 95%;
    }
    .event-content h2 {
        font-size: 1.3em;
    }
    .event-content h3 {
        font-size: 1.1em;
    }
    .event-content p,
    .event-content ul {
        font-size: 0.9em;
    }
}
@media (max-width: 840px) {
    .Event-card {
        width: 95%;
        height: 14em;
    }
    .event-image {
        width: 55%;
    }
    .event-content {
        width: 45%;
        padding: 0 0 1.5em;
    }
    .event-content p {
        margin: 0.5em 0;
    }
}
@media (max-width: 650px) {
    .Event-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 80%;
        height: auto;
        border: 1px solid #ececec;
        margin-bottom: 2em;
    }
    .Event-card:last-child {
        padding-bottom: 0;
    }
    .event-image {
        width: 100%;
        height: auto;
        border: none;
    }
    .event-image img {
        width: 100%;
        height: 100%;
    }
    .event-content {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        padding: 1em 1em 2em;
        border: none;
    }
    .odd::after,
    .even::after {
        display: none;
    }
}