.Tickets {
    padding-top: 6em;
}
.tickets-header {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background: url("https://preview.ibb.co/mGrgw7/oscar_keys_58399_unsplash.jpg") 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.tickets-info {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
}
.tickets-info h1 {
    margin-bottom: 1.5em;
}
.tickets-info p {
    margin: 0;
}
.tickets-events h3 {
    margin: 4em 0;
    text-align: center;
}
.tickets-events table {
    width: 40%;
    margin: 2em auto;
    line-height: 1.5em;
    text-align: left;
}
.tickets-events th {
    font-size: 1.1em;
}
.tickets-events table > td {
     width: 50%;
}

@media (max-width: 1100px) {
    .tickets-events table {
        width: 70%;
    }
    .tickets-events h3 {
        margin: 4em 0 1em;
        text-align: center;
    }
}
@media (max-width: 700px) {
    .tickets-info {
        font-size: 0.9em;
        padding: 0 1em;
    }
    .tickets-events table {
        width: 90%;
    }
}
@media (max-width: 450px) {
    .tickets-events th {
        white-space: nowrap;
        font-size: 0.9em;
    }
    .tickets-events td {
        white-space: nowrap;
        font-size: 0.8em;
    }
}