.UpcomingEvents
  width: 90%
  @include centering-margin()
  @include flexbox()

  @include breakpoint(m)
    width: 70%
    @include centering-margin()
    @include flex-direction(column)
    @include align-items(center)

  @include breakpoint(s)
    width: 95%

  .UpcomingEvent
    width: 30%
    background-color: $colorGrey
    @include flexbox()
    @include flex-direction(column)
    @include align-items(center)
    @include border(1px solid $colorLightGrey)
    &:not(:last-child)
      margin-right: 5%

    .upcoming-img
      width: 100%
      overflow: hidden
      img
        width: 100%
        height: auto

    h3
      font-size: $font-s
    p
      font-size: $font-xs
    .upcoming-body
      width: 100%
      text-align: center

    .detail-link
      @include vertical-padding(2rem, 0)
      color: blue
      &:hover
        opacity: 0.6
        cursor: pointer

    @include breakpoint(m)
      width: 100%
      margin-bottom: 1.5rem
      &:not(:last-child)
        margin-right: 0
      .upcoming-body
        padding-bottom: 1rem
        .upcoming-body-text
          h3
            font-size: $font-s
          p
            font-size: $font-xs

    @include breakpoint(s)
      .upcoming-body
        .upcoming-body-text
          h3
            font-size: $font-xs
