.About {
  padding-top: 6em;
  padding-bottom: 0;
}

.App {
  text-align: center;
}

.divider-vertical {
  height: 1em;
}

.divider-horizontal {
  width: 1em;
}

.spinner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.spinner-container .spinner-image {
  width: 2em;
  height: 2em;
}

.button {
  font-size: 1rem;
  background-color: #ffffff;
  margin: 0 auto 0;
  border: none;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.button:hover {
  background-color: #eeeeee;
  font-weight: bold;
}

.Contact {
  padding-top: 6em;
}

.contact-wrapper {
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto 5em;
  background-image: url("https://preview.ibb.co/g5Gk8n/marcus_neto_96651_unsplash.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form {
  width: 50%;
}
.contact-form input,
.contact-form textarea {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.contact-form-success {
  width: 40%;
}
.contact-form-success .contact-form-success-message {
  color: #fff;
  font-size: 1.6rem;
}

.contact-info-panel {
  width: 50%;
  text-align: left;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.Footer {
  height: 5em;
  background-color: #eeeeee;
  margin-top: 5em;
}
.Footer > p {
  padding-top: 3rem;
  padding-bottom: 0;
}

.form-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-item > input, .form-item textarea {
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.form-item .form-item-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.form-item .form-item-header .form-item-label {
  color: #ffffff;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 0;
}
.form-item .form-item-header .form-field-error {
  color: #FF5F59;
}
.form-item .invalid-form-input {
  border: 1px solid #FF5F59;
  border-radius: 2px;
}

.Intro {
  width: 100%;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}
.Intro .intro-wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("https://preview.ibb.co/httNm7/james_barr_491013_unsplash.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.Intro .intro-wrapper .intro-description {
  color: #ffffff;
}
.Intro .intro-wrapper .intro-description > p {
  width: 60%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem auto 0;
}
.Intro .upcoming-events-overview {
  width: 90%;
  margin: 0 auto 0;
}
.Intro .upcoming-events-overview .upcoming-events-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 1100px) {
  .Intro .intro-description p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 800px) {
  .Intro .intro-description h1 {
    font-size: 1.4rem;
  }
  .Intro .intro-description h3 {
    font-size: 1rem;
  }
  .Intro .intro-description p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: center;
  }
  .Intro .upcoming-events-overview .upcoming-events-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}

.Navbar {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.Navbar .navbar-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.Navbar .navbar-container .navbar-responsive {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}
.Navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: left;
}
.Navbar .menu-icon {
  display: none;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.Navbar .menu-icon span {
  width: 100%;
  height: 0.2em;
  display: block;
  background: #000;
  margin: 0.4em 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Navbar .menu-icon.cross span:first-child {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.Navbar .menu-icon.cross span:last-child {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.Navbar .navbar-links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.Navbar .navbar-links ul {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.Navbar .navbar-links ul li {
  text-align: right;
  display: inline-block;
  width: 25%;
  padding: 1.5em 0;
  text-decoration: none;
}
.Navbar .navbar-links ul li:hover {
  cursor: pointer;
  font-weight: bold;
}
.Navbar .nav-link {
  text-decoration: none;
  color: #000;
}
.Navbar .nav-link.active {
  font-weight: bold;
}
@media (max-width: 850px) {
  .Navbar {
    padding-top: 1em;
  }
  .Navbar .navbar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Navbar .navbar-container .navbar-responsive {
    width: 100%;
  }
  .Navbar .logo {
    width: 20%;
    text-align: left;
  }
  .Navbar .menu-icon {
    display: block;
  }
  .Navbar .navbar-links {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-direction--ms-flex-direction: column;
    -webkit-box-direction--ms-flex-direction-flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .Navbar .navbar-links.hidden {
    margin-top: -100%;
  }
  .Navbar .navbar-links.visible {
    margin-top: 0;
  }
  .Navbar .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
  }
  .Navbar .navbar-links ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0.5em 0;
  }
  .Navbar .navbar-links ul li:last-child {
    padding-bottom: 1em;
  }
}

.Event-card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto 0;
  width: 85%;
  height: 20rem;
}
.Event-card:nth-child(1) {
  padding-top: 6rem;
  padding-bottom: 0;
}
.Event-card .event-image {
  width: 65%;
  height: auto;
  overflow: hidden;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.Event-card .event-image img {
  width: 100%;
  height: auto;
  min-height: 100%;
  opacity: 0.9;
  cursor: pointer;
}
.Event-card .event-image img:hover {
  opacity: 1;
}
.Event-card .event-content {
  width: 35%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFBFC;
  border-top: 1px solid #ececec;
  border-right: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.Event-card .event-content ul > span {
  margin-right: 2%;
}
.Event-card .event-content ul > li {
  display: inline-block;
  margin-right: 2%;
}
.Event-card .event-content ul > li:not(:last-of-type)::after {
  content: ", ";
}
.Event-card .event-content p,
.Event-card .event-content h2,
.Event-card .event-content h3,
.Event-card .event-content ul {
  z-index: 4;
  position: relative;
}
.Event-card .event-content.even::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25%;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  z-index: 3;
  border-left: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #FFFBFC;
}
.Event-card .event-content.odd::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25%;
  -moz-transform: skewX(12deg);
  -o-transform: skewX(12deg);
  -ms-transform: skewX(12deg);
  -webkit-transform: skewX(12deg);
  transform: skewX(12deg);
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  z-index: 3;
  border-left: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #FFFBFC;
}
@media (max-width: 1100px) {
  .Event-card {
    width: 95%;
  }
  .Event-card .event-content h2 {
    font-size: 1.3em;
  }
  .Event-card .event-content h3 {
    font-size: 1.1em;
  }
  .Event-card .event-content p,
.Event-card .event-content ul {
    font-size: 0.9em;
  }
}
@media (max-width: 840px) {
  .Event-card {
    width: 95%;
    height: 14em;
  }
  .Event-card .event-image {
    width: 55%;
  }
  .Event-card .event-content {
    width: 45%;
    padding: 0 0 1.5em;
  }
  .Event-card .event-content p {
    margin: 0.5em 0;
  }
}
@media (max-width: 650px) {
  .Event-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 1px solid #ececec;
    margin-bottom: 2em;
  }
  .Event-card:last-child {
    padding-bottom: 0;
  }
  .Event-card .event-image {
    width: 100%;
    height: auto;
    border: none;
  }
  .Event-card .event-image img {
    width: 100%;
    height: 100%;
  }
  .Event-card .event-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1em 2em;
    border: none;
  }
  .Event-card .event-content.odd::after {
    display: none;
  }
  .Event-card .event-content.even::after {
    display: none;
  }
}

.Program-outline {
  padding-top: 6em;
}

.Program-detail {
  padding-top: 3em;
}
.Program-detail .detail-container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60em;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.Program-detail .detail-container .detail-wrapper {
  width: 70%;
  text-align: left;
  border-right: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Program-detail .detail-container .detail-wrapper .detail-header {
  text-align: center;
  margin-top: 2em;
  width: 70%;
}
.Program-detail .detail-container .detail-wrapper .detail-header h2 {
  margin-bottom: 0.5em;
}
.Program-detail .detail-container .detail-wrapper .detail-header h4 {
  margin-top: 0;
}
.Program-detail .detail-container .detail-wrapper .detail-header .detail-image-wrapper {
  width: 100%;
  margin: 2em auto 0;
}
.Program-detail .detail-container .detail-wrapper .detail-header .detail-image-wrapper img {
  width: 100%;
  height: auto;
}
.Program-detail .detail-container .detail-wrapper .detail-body {
  width: 70%;
  margin: 2em auto;
}
.Program-detail .detail-container .detail-wrapper .detail-body > * {
  font-size: 1.1em;
  line-height: 1.2em;
}
.Program-detail .detail-container .detail-wrapper .detail-body .detail-description ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
}
.Program-detail .detail-container .detail-wrapper .detail-body .detail-description ul span {
  display: block;
  margin-bottom: 0.5em;
}
.Program-detail .detail-container .detail-wrapper .detail-body .detail-description ul li {
  font-weight: normal;
}
.Program-detail .detail-container .detail-wrapper .detail-body .detail-info {
  margin-top: 3em;
  text-align: center;
  font-weight: bold;
}
.Program-detail .detail-container .similar-events {
  margin-top: 2em;
  height: 100%;
  width: 20%;
  padding-right: 5%;
}
.Program-detail .detail-container .similar-events .event-items-container {
  background-color: #FFFBFC;
  height: 85%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #ececec;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item {
  width: 85%;
  height: auto;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 1em 0;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-image img {
  width: 100%;
  height: auto;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-body {
  width: 90%;
  margin: 0 auto;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-body h3 {
  margin-bottom: 0;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-body p {
  margin-top: 0.2em;
  font-size: 0.9em;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item .item-body ul span {
  font-weight: bold;
}
.Program-detail .detail-container .similar-events .event-items-container .event-item #link-more {
  text-decoration: none;
}
@media (max-width: 1100px) {
  .Program-detail .detail-container .similar-events {
    width: 30%;
  }
}
@media (max-width: 900px) {
  .Program-detail .detail-container .similar-events {
    width: 25%;
  }
  .Program-detail .detail-container .detail-wrapper .detail-header,
.Program-detail .detail-container .detail-wrapper .detail-body {
    width: 85%;
  }
  .Program-detail .detail-container .detail-body .detail-description,
.Program-detail .detail-container .detail-body .detail-info {
    font-size: 0.9em;
    line-height: 1.2em;
  }
}
@media (max-width: 700px) {
  .Program-detail .detail-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Program-detail .detail-container .detail-wrapper {
    width: 90%;
    margin: 0 auto 2em;
  }
  .Program-detail .detail-container .detail-wrapper .detail-body .detail-info {
    margin-top: 0;
  }
  .Program-detail .detail-container .similar-events {
    padding-right: 0;
    width: 90%;
  }
  .Program-detail .detail-container .similar-events .event-items-container {
    overflow-y: hidden;
  }
  .Program-detail .detail-container .similar-events .event-items-container .event-item {
    margin-bottom: 1em;
  }
}
@media (max-width: 500px) {
  .Program-detail .similar-events {
    width: 80%;
  }
}

.Tickets {
  padding-top: 6em;
}
.Tickets .tickets-header {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("https://preview.ibb.co/mGrgw7/oscar_keys_58399_unsplash.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.Tickets .tickets-header .tickets-info {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5em;
}
.Tickets .tickets-header .tickets-info h1 {
  margin-bottom: 1.5em;
}
.Tickets .tickets-header .tickets-info p {
  margin: 0;
}
@media (max-width: 700px) {
  .Tickets .tickets-header .tickets-info {
    font-size: 0.9em;
    padding: 0 1em;
  }
}
.Tickets .tickets-events h3 {
  margin: 4em 0;
  text-align: center;
}
.Tickets .tickets-events table {
  width: 40%;
  margin: 2em auto;
  line-height: 1.5em;
  text-align: left;
}
.Tickets .tickets-events table th {
  font-size: 1.1em;
}
.Tickets .tickets-events table td {
  width: 50%;
}
@media (max-width: 1100px) {
  .Tickets .tickets-events table {
    width: 70%;
  }
  .Tickets .tickets-events table h3 {
    margin: 4em 0 1em;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .Tickets .tickets-events table {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .Tickets .tickets-events table th {
    white-space: nowrap;
    font-size: 0.9em;
  }
  .Tickets .tickets-events table td {
    white-space: nowrap;
    font-size: 0.8em;
  }
}

.UpcomingEvent {
  width: 30%;
  background-color: #FFFBFC;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
.UpcomingEvent .upcoming-img {
  width: 100%;
  height: 12rem;
  overflow: hidden;
}
.UpcomingEvent .upcoming-img img {
  width: 100%;
  height: auto;
}
.UpcomingEvent .upcoming-body {
  width: 100%;
  text-align: center;
}
@media (max-width: 800px) {
  .UpcomingEvent {
    width: 70%;
    margin-bottom: 1rem;
  }
  .UpcomingEvent .upcoming-body .upcoming-body-text {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .UpcomingEvent .upcoming-body .upcoming-body-text h3 {
    font-size: 1rem;
  }
  .UpcomingEvent .upcoming-body .upcoming-body-text p {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .UpcomingEvent {
    width: 90%;
    margin-bottom: 1rem;
  }
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Questrial", sans-serif;
}
body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
  font-family: "Questrial", sans-serif;
}
