.About {
  padding-top: 6em;
  padding-bottom: 0;
}

.App {
  text-align: center;
}

.divider-vertical {
  height: 1rem;
}

.divider-horizontal {
  width: 1rem;
}

.spinner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.spinner-container .spinner-image {
  width: 2rem;
  height: 2rem;
}

.button {
  font-size: 1rem;
  background-color: #ffffff;
  margin: 0 auto 0;
  border: none;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.button:hover {
  background-color: #eeeeee;
  font-weight: bold;
}
@media (max-width: 760px) {
  .button {
    font-size: 0.9rem;
  }
}

.Contact {
  padding-top: 6em;
}
.Contact .contact-wrapper {
  width: 90%;
  height: 100vh;
  overflow: scroll;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto 5em;
  background-image: url("https://preview.ibb.co/g5Gk8n/marcus_neto_96651_unsplash.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Contact .contact-wrapper .contact-form {
  width: 50%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.Contact .contact-wrapper .contact-form input,
.Contact .contact-wrapper .contact-form textarea {
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.Contact .contact-wrapper .contact-form-success {
  width: 100%;
}
.Contact .contact-wrapper .contact-form-success > p {
  color: #ffffff;
  font-size: 1.6rem;
}
@media (max-width: 1100px) {
  .Contact .contact-wrapper .contact-form {
    width: 70%;
  }
  .Contact .contact-wrapper .contact-form-success p {
    font-size: 1.2rem;
  }
}
.Contact .contact-info-panel {
  width: 50%;
  text-align: left;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.Contact .contact-info-panel .contact-social-media p:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (max-width: 760px) {
  .Contact .contact-info-panel {
    font-size: 0.9rem;
    width: 70%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Contact .contact-info-panel .contact-social-media {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .Contact .contact-info-panel .contact-social-media p:nth-of-type(1) {
    padding-left: 0;
    padding-right: 1rem;
  }
}

.Footer {
  height: 5em;
  background-color: #eeeeee;
  margin-top: 5em;
}
.Footer > p {
  padding-top: 3rem;
  padding-bottom: 0;
}

.form-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-item > input, .form-item textarea {
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.form-item .form-item-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.form-item .form-item-header .form-item-label {
  color: #ffffff;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 0;
}
.form-item .form-item-header .form-field-error {
  color: #FF5F59;
}
@media (max-width: 760px) {
  .form-item .form-item-header {
    font-size: 0.9rem;
  }
}
.form-item .invalid-form-input {
  border: 1px solid #FF5F59;
  border-radius: 2px;
}

.Intro {
  width: 100%;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}
.Intro .intro-wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("https://preview.ibb.co/httNm7/james_barr_491013_unsplash.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.Intro .intro-wrapper .intro-description {
  color: #ffffff;
  width: 70%;
  text-align: center;
  margin: 0 auto 0;
}
.Intro .intro-wrapper .intro-description > p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (max-width: 1100px) {
  .Intro .intro-wrapper .intro-description > p {
    line-height: 1.4rem;
  }
}
@media (max-width: 760px) {
  .Intro .intro-wrapper .intro-description h1 {
    font-size: 1.4rem;
  }
  .Intro .intro-wrapper .intro-description h3 {
    font-size: 1rem;
  }
  .Intro .intro-wrapper .intro-description p {
    font-size: 0.9rem;
  }
}
.Intro .upcoming-events-overview {
  width: 90%;
  margin: 0 auto 0;
}
.Intro .upcoming-events-overview .upcoming-events-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 760px) {
  .Intro .upcoming-events-overview .upcoming-events-container {
    width: 70%;
    margin: 0 auto 0;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .Intro .upcoming-events-overview .upcoming-events-container {
    width: 95%;
  }
}

.Navbar {
  background: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.Navbar .navbar-container {
  width: 90%;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.Navbar .navbar-container .navbar-responsive {
  width: 20%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.Navbar .navbar-container .navbar-responsive .logo {
  font-weight: bold;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
}
.Navbar .navbar-container .navbar-responsive .menu-icon {
  display: none;
  width: 2rem;
  cursor: pointer;
}
.Navbar .navbar-container .navbar-responsive .menu-icon:hover {
  opacity: 0.5;
}
.Navbar .navbar-container .navbar-responsive .menu-icon span {
  width: 100%;
  height: 0.2rem;
  display: block;
  background: #000000;
  margin: 0.3rem 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Navbar .navbar-container .navbar-responsive .menu-icon.cross span:nth-of-type(1) {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.Navbar .navbar-container .navbar-responsive .menu-icon.cross span:nth-of-type(3) {
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.Navbar .navbar-container .navbar-links {
  width: 60%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.Navbar .navbar-container .navbar-links ul {
  width: 100%;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.Navbar .navbar-container .navbar-links ul li {
  text-align: right;
  display: inline-block;
  width: 25%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.Navbar .navbar-container .navbar-links ul li:hover {
  cursor: pointer;
  font-weight: bold;
}
.Navbar .navbar-container .navbar-links .nav-link {
  color: #000000;
}
.Navbar .navbar-container .navbar-links .nav-link.active {
  font-weight: bold;
}
@media (max-width: 760px) {
  .Navbar {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .Navbar .navbar-container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Navbar .navbar-container .navbar-responsive {
    width: 100%;
  }
  .Navbar .navbar-container .navbar-responsive .logo {
    width: 20%;
    text-align: left;
    font-size: 1.2rem;
  }
  .Navbar .navbar-container .navbar-responsive .menu-icon {
    display: block;
  }
  .Navbar .navbar-container .navbar-links {
    width: 100%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .Navbar .navbar-container .navbar-links.hidden {
    margin-top: -100%;
  }
  .Navbar .navbar-container .navbar-links.visible {
    margin-top: 0;
  }
  .Navbar .navbar-container .navbar-links ul {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
  }
  .Navbar .navbar-container .navbar-links ul li {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .Navbar .navbar-container .navbar-links ul li:last-child {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

.Event-card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto 0;
  width: 85%;
  height: 20rem;
}
.Event-card:nth-of-type(1) {
  border-top: 1px solid #eeeeee;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.Event-card .event-image {
  width: 65%;
  height: auto;
  overflow: hidden;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.Event-card .event-image img {
  width: 100%;
  height: auto;
  min-height: 100%;
  opacity: 0.9;
  cursor: pointer;
}
.Event-card .event-image img:hover {
  opacity: 1;
}
.Event-card .event-content {
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFBFC;
  border-top: none;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: none;
}
.Event-card .event-content ul > span {
  margin-right: 2%;
}
.Event-card .event-content ul > li {
  display: inline-block;
  margin-right: 2%;
}
.Event-card .event-content ul > li:not(:last-of-type)::after {
  content: ", ";
}
.Event-card .event-content p,
.Event-card .event-content h2,
.Event-card .event-content h3,
.Event-card .event-content ul {
  z-index: 4;
  position: relative;
}
.Event-card .event-content .detail-link {
  opacity: 0.5;
}
.Event-card .event-content .detail-link:hover {
  cursor: pointer;
  opacity: 1;
}
.Event-card .event-content.even::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 3;
  background-color: #FFFBFC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #eeeeee;
}
.Event-card .event-content.odd::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 3;
  background-color: #FFFBFC;
  -moz-transform: skewX(12deg);
  -o-transform: skewX(12deg);
  -ms-transform: skewX(12deg);
  -webkit-transform: skewX(12deg);
  transform: skewX(12deg);
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #eeeeee;
}
@media (max-width: 1100px) {
  .Event-card {
    width: 95%;
    height: 14em;
  }
  .Event-card .event-image {
    width: 60%;
  }
  .Event-card .event-content {
    width: 40%;
  }
  .Event-card .event-content h2 {
    font-size: 1.2rem;
  }
  .Event-card .event-content h3 {
    font-size: 1rem;
  }
  .Event-card .event-content p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
  .Event-card .event-content ul {
    font-size: 0.9rem;
  }
}
@media (max-width: 760px) {
  .Event-card {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    height: auto;
    border: 1px solid #eeeeee;
    border-radius: 0;
    margin-bottom: 2rem;
  }
  .Event-card:nth-of-type(1) {
    border: 1px solid #eeeeee;
    border-radius: 0;
  }
  .Event-card .event-image {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
    font-size: 0px;
  }
  .Event-card .event-content {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border: none;
    border-radius: 0;
  }
  .Event-card .event-content.odd::after {
    display: none;
  }
  .Event-card .event-content.even::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .Event-card {
    width: 85%;
  }
}

.Program-outline {
  padding-top: 6rem;
}

.Program-detail {
  padding-top: 3em;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}
.Program-detail .detail-container {
  width: 50%;
  background-color: #ffffff;
}
.Program-detail .detail-container .detail-header {
  text-align: center;
  margin-top: 2rem;
}
.Program-detail .detail-container .detail-header h2 {
  margin-bottom: 0.5rem;
}
.Program-detail .detail-container .detail-header h4 {
  margin-top: 0;
}
.Program-detail .detail-container .detail-header .detail-image-wrapper {
  width: 100%;
  margin: 2rem auto 0;
}
.Program-detail .detail-container .detail-header .detail-image-wrapper img {
  width: 100%;
  height: auto;
}
.Program-detail .detail-container .detail-body {
  width: 80%;
  margin: 2rem auto 0;
}
.Program-detail .detail-container .detail-body > * {
  font-size: 1rem;
  line-height: 1.2rem;
}
.Program-detail .detail-container .detail-body .detail-description ul {
  text-align: center;
}
.Program-detail .detail-container .detail-body .detail-description ul span {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.Program-detail .detail-container .detail-body .detail-info {
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
}
.Program-detail .similar-events-container {
  margin-top: 2rem;
  height: 60rem;
  width: 25%;
}
.Program-detail .similar-events-container .event-items-container {
  background-color: #FFFBFC;
  height: 85%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
.Program-detail .similar-events-container .event-items-container .event-item {
  width: 90%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.Program-detail .similar-events-container .event-items-container .event-item .item-image-wrapper img {
  width: 100%;
  height: auto;
}
.Program-detail .similar-events-container .event-items-container .event-item .item-body {
  width: 100%;
  font-size: 0.9rem;
  margin: 0 auto 0;
}
.Program-detail .similar-events-container .event-items-container .event-item .item-body h3 {
  margin-bottom: 0;
  font-size: 1rem;
}
.Program-detail .similar-events-container .event-items-container .event-item .item-body p {
  margin-top: 0.2rem;
}
.Program-detail .similar-events-container .event-items-container .event-item .item-body ul span {
  font-weight: bold;
}
.Program-detail .similar-events-container .event-items-container .event-item .detail-link {
  opacity: 0.5;
}
.Program-detail .similar-events-container .event-items-container .event-item .detail-link:hover {
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 1100px) {
  .Program-detail .detail-container {
    width: 60%;
  }
}
@media (max-width: 760px) {
  .Program-detail {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .Program-detail .detail-container {
    width: 70%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin: 0 auto 2rem;
  }
  .Program-detail .detail-container .detail-body .detail-info {
    margin-top: 0;
  }
  .Program-detail .similar-events-container {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    width: 70%;
  }
  .Program-detail .similar-events-container .event-items-container {
    overflow-y: hidden;
  }
  .Program-detail .similar-events-container .event-items-container .event-item {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .Program-detail .detail-container {
    width: 85%;
  }
  .Program-detail .similar-events-container {
    width: 80%;
  }
}

.Tickets {
  padding-top: 6em;
}
.Tickets .tickets-header {
  width: 90%;
  height: 100vh;
  margin: 0 auto 0;
  background-image: url("https://preview.ibb.co/mGrgw7/oscar_keys_58399_unsplash.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Tickets .tickets-header .tickets-info {
  margin-top: 10rem;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.Tickets .tickets-header .tickets-info h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.Tickets .tickets-header .tickets-info p {
  margin: 0;
}
@media (max-width: 760px) {
  .Tickets .tickets-header .tickets-info {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.Tickets .tickets-events h3 {
  margin: 4rem 0;
  text-align: center;
}
.Tickets .tickets-events table {
  width: 30%;
  line-height: 1.5rem;
  text-align: left;
  margin: 2em auto 0;
}
@media (max-width: 1100px) {
  .Tickets .tickets-events table {
    width: 50%;
  }
  .Tickets .tickets-events table h3 {
    margin: 4rem 0 1rem;
    text-align: center;
  }
}
@media (max-width: 760px) {
  .Tickets .tickets-events table td {
    white-space: nowrap;
    font-size: 0.9rem;
  }
}

.UpcomingEvent {
  width: 30%;
  background-color: #FFFBFC;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
.UpcomingEvent .upcoming-img {
  width: 100%;
  overflow: hidden;
}
.UpcomingEvent .upcoming-img img {
  width: 100%;
  height: auto;
}
.UpcomingEvent .upcoming-body {
  width: 100%;
  text-align: center;
}
@media (max-width: 760px) {
  .UpcomingEvent {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .UpcomingEvent .upcoming-body {
    padding-bottom: 1rem;
  }
  .UpcomingEvent .upcoming-body .upcoming-body-text h3 {
    font-size: 1rem;
  }
  .UpcomingEvent .upcoming-body .upcoming-body-text p {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .UpcomingEvent .upcoming-body .upcoming-body-text h3 {
    font-size: 0.9rem;
  }
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Questrial", sans-serif;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
  font-family: "Questrial", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}
